<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="../../../assets/ps-logo.png" alt="playstation logo" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.instagram.com/marcos_pacanhela.dev?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">INSTAGRAM</a></li>
            <li><a href="https://www.linkedin.com/in/marcos-pacanhela-50840626b/">LINKEDIN</a></li>
            <li><a href="https://github.com/MarcosPacanhela">GITHUB</a></li>
        </ul>
    </div>
</div>